In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('credit_data.csv')
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [3]:
df.value_counts('Class')

Class
0    284315
1       492
dtype: int64

In [4]:
legit=df[df.Class==0]
fraud=df[df.Class==1]

In [5]:
print(legit.shape, fraud.shape)

(284315, 31) (492, 31)

In [6]:
legit_sample=legit.sample(n=492)

In [7]:
legit_sample.shape

(492, 31)

In [9]:
legit_sample.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
281653,170334.0,2.104853,-0.215918,-1.680545,-0.055313,0.605852,0.123362,-0.071334,0.038155,0.504896,...,-0.326561,-0.929681,0.243220,-0.380910,-0.201968,0.214693,-0.087934,-0.076297,1.79,0
249669,154524.0,2.048019,-0.049496,-1.062255,0.421266,-0.126619,-1.208832,0.216330,-0.355784,0.491240,...,-0.280613,-0.674833,0.331105,0.055510,-0.291303,0.193535,-0.069972,-0.057901,8.99,0
83960,60107.0,-2.414471,0.960252,1.084564,-0.483092,-1.315318,-0.360473,1.385836,0.110233,-0.157945,...,-0.389154,-0.555800,0.043537,0.428606,0.288823,0.093593,-0.138868,-0.772757,204.80,0
186497,127135.0,0.722017,0.861678,-1.967742,-0.512925,1.614500,-0.669210,0.469272,-2.071866,-0.715089,...,1.789922,0.332291,-0.801934,-0.889554,1.082600,1.120040,0.081913,0.140046,2.00,0
21242,31551.0,-2.793911,0.898344,-1.243046,-1.541798,-1.637107,-1.341674,-0.059660,1.420406,0.272405,...,0.301304,0.588915,0.105362,0.571763,-0.070126,-0.876230,-0.309260,-0.279973,87.00,0

In [10]:
new_dataset=pd.concat([legit_sample,fraud], axis=0)

In [11]:
new_dataset.shape

(984, 31)

In [12]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64